body {
    background-color: black;
    color: white;
  }
  
  #nav-bar {
    position: relative;
    top: 12cm;
  }
  
  #description {
    font-size: large;
    font-family: sans-serif;
  }
  #table-head {
    color: rgb(169, 9, 243);
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    text-shadow: 1px 1px 1px rgb(6, 171, 236);
  }
  
  #t-body {
    color: wheat;
    text-align: center;
  }